<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="HugoLandContext" connectionString="metadata=res://*/HugoLandDb.csdl|res://*/HugoLandDb.ssdl|res://*/HugoLandDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=etudiants.cegepsth.qc.ca;initial catalog=GED-Equipe7-2015;persist security info=True;user id=jomich;password=Password01$;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="GameContext" connectionString="metadata=res://*/HugoLandContext.csdl|res://*/HugoLandContext.ssdl|res://*/HugoLandContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=etudiants.cegepsth.qc.ca;initial catalog=GED-Equipe7-2015;persist security info=True;user id=jomich;password=Password01$;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="HugoLandEditeur.Properties.Settings.GED_Equipe7_2015ConnectionString"
      connectionString="Data Source=etudiants.cegepsth.qc.ca;Initial Catalog=GED-Equipe7-2015;Persist Security Info=True;User ID=jomich;Password=Password01$"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>